<div class="field">
  <%= f.label :name, "Name:" %>&nbsp;
  <%= f.text_field :name, :size => 80 %>
  <% if @add_store_id %>
    <%= hidden_field_tag :add_store_id, @add_store_id %>
  <% end %>
</div>

  