<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>
<%= link_to "New List", new_store_list_path %>
<% for store_list in @store_lists %>
  <div class="store_list_list">
    <strong>Name:</strong> <%= link_to store_list.name, store_list_path(Hid.enc(store_list.id)) %>
    &nbsp; <%= link_to "edit", store_list_path(Hid.enc(store_list.id)), :method => :put %>
    </br>
  </div>
<% end %>


