<% content_for :sidebar do %>
  <%= render 'layouts/main_sidebar' %>
<% end %>

<h1><%= I18n.t(@title) %><%= @store_list.name %></h1><br>

<div>
  <% for store in @store_list.stores %>
    <br><%= store.name %>
  <% end %>
</div>



