<div id="cart">
  <% if session[:cart].cart_items.size == 0 then  %>
    <h3>No dishes in Order</h3>
  <% else %>
    <table>
      <tr>
        <th width="200" >Dish</th>
        <th>Quantity</th>
      </tr>          
      <%= render({ :partial => "cart_item", :collection => session[:cart].cart_items }) %>
    </table>
    <h3><%= link_to "Empty cart", change_cart_path(:delall => "y"), :confirm => "Are you sure?", :remote => true %></h3>
  <% end %>
</div>
