<tr>
  <td><%= cart_item.name %></td>
  <td>
    <b><%= link_to '-', change_cart_path(:dish_name => cart_item.name, :del => "y"), :remote => true %></b>
    &nbsp;<%= cart_item.quantity %>&nbsp;
    <b><%= link_to '+', change_cart_path(:dish_id => cart_item.dish_id, :dish_name => cart_item.name), :remote => true %></b>
  </td>
</tr>
