  <div id="sidebar">
    <ul>
      <li>
        <h2>Your Cart</h2>
        <div id="cart">
          <%= render "cart" %>
        </div>
        <%= button_to "Empty cart", :action => "new", :confirm => "Are you sure?" %>
    </ul>
  </div>









