  <div id="sidebar">
    <ul>
      <li>
        <h2>Your Cart</h2>
        <div id="cart">
          <%= render "cart" %>
        </div>
        <b><%= link_to "Empty cart", change_cart_path(:delall => "y"), :confirm => "Are you sure?", :remote => true %></b>
    </ul>
  </div>









