      <div id="cart">
        <table>
          <tr>
            <th>Dish</th>
            <th>Quantity</th>
          </tr>          
          <%= render({ :partial => "cart_item", :collection => session[:cart].cart_items }) %>
        </table>
      </div>
