<div id="pic_partial_<%= Hid.enc(tmp_dr.id) %>">
  <% tmp_dr.pictures.each do |pic| %>
    <%= image_tag(pic.image_url(:thumb), { :alt => t('image_link_broken_message')}) %>
    <%= link_to "Delete", delete_picture_dish_review_path( :id => Hid.enc(tmp_dr.id), :pic_id => Hid.enc(pic.id)), :confirm => t('visits.pic_delete_warning'), :remote => true %>
  <% end %>
</div>  