<div class="field"> 
  <p>
    <%= ff.label :genre %><br />
    <%= ff.text_field :genre %>
  </p>
  <p>
    <%= ff.file_field :image %> 
  </p>
</div>
<div class="field"> 
  <%= ff.link_to_remove "Remove this picture" %>
</div>

