<!--
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
-->
<div class="field">
  <label for="user_locale">Language</label><br />
  <select id="user_locale" name= "user[locale]" >
    <option value="en" selected="selected">English</option>
    <option value="fr">French</option>
  </select>
</div>