<li>
  <% if user.profilepicurl.nil? %>
    <%= gravatar_image_tag(user.email, :gravatar => { :size => 35 }, :alt => "", :class => "round vertical_align")%>
  <% else %>
    <%= image_tag(user.profilepicurl, :size => "35x35", :alt => "", :class => "round vertical_align")%> 
  <% end %>
  
  <%= link_to user.name, user_path(user) %>
  <% if can? :destroy, User %>
  
  <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                              :title => "Delete #{user.name}" %>
  <% end %>
</li>
