<% if rating %>
  <ul class="star-rating">
    <li class="current-rating", style="width: <%=rating/5.0*125.0%>px"> Currently <%=rating%>/5 Stars.</li>
    <li><a href='#' title='' class='one-star'>1</a></li>
    <li><a href='#' title='' class='two-stars'>2</a></li>
    <li><a href='#' title='' class='three-stars'>3</a></li>
    <li><a href='#' title='' class='four-stars'>4</a></li>
    <li><a href='#' title='' class='five-stars'>5</a></li>
</ul>
<% else %>
  &nbsp;&nbsp;&nbsp;<b>N/A</b>&nbsp;&nbsp;&nbsp;
<% end %>
