<%= render 'shared/main_sidebar' %>
<div id="content">
<%= render 'shared/flash_box' %>

<h1><%= t :help_title %></h1>
<p>
  <%= t :help_message %>
<br>
</p>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Overview</a></li>
    <li><a href="#tabs-2">Features</a></li>
    <li><a href="#tabs-3">Comments</a></li>
    <li><a href="#tabs-4">Screenshots</a></li>
  </ul>
  <div id="tabs-1">Content something</div>
  <div id="tabs-2">Content something2</div>
  <div id="tabs-3">Content something3</div>
  <div id="tabs-4">Content something4</div>
</div>
