<%= render 'shared/main_sidebar' %>
<div id="content">
<%= render 'shared/flash_box' %>

<h1><%= t :help_title %></h1>
<p>
  <%= t :help_message %>
<br>
</p>
<input class="ui-autocomplete-input"/>
<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all">
  <li class="ui-menu-item">
    <a class="ui-corner-all">item 1</a>
  </li>
  <li class="ui-menu-item">
    <a class="ui-corner-all">item 2</a>
  </li>
  <li class="ui-menu-item">
    <a class="ui-corner-all">item 3</a>
  </li>
</ul> 
