$sidebar-color: #D0C9B7;            /* dark grey */
$sidebar-font-color: black;
$sidebar-dash-color: #A5A08C;    /* lighter grey */
$sidebar-h-color: #2E2E2E;       /* dark grey */
$sidebar-link-color: black;
$sidebar-highlight-color: #F3EBD9;

$cart-link-color: #555555;
$cart-button-text-color: white;
$cart-button-color:$cart-link-color;

$logo-color2:#C16C2F;                 /* orange */
$header-font-color: white;      
$header-searchbox-color: $sidebar-color;
$header-searchbox-submit-color:#1D1D1D; /* near dark */
$header-searchbox-submit-text-color:white;
$header-link-color: white;

$footer-font-color:#949085;         /*mid grey */
$footer-color: #3D3630;             /* dark grey */

$background-color: #EEEBDA;         /* light beige */
$font-color: black;
$h-color: #056303;             /* dark green */
$link-color: #856323;               /* mid brown */
$button-color: #E4E4E4;             /* light grey */
$button-text: darken($button-color, 80%);
$button-border-color: #CCCCCC;      /* greyish */