/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/
/* 
layout is
body
  container
    header
    page
      sidebar
      content
    footer
*/
/*padding order: top right bottom left */

body {
	margin: 0;  /* external margin around body (edge of screen) */
	padding: 0; 
	background: #EEEBDA;  /* background color */
	/* sets default fonts throughout document */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
}
/* header texts */
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'Arvo', serif;
	color: #056303;
}
/* links */
a {
	text-decoration: none; /* removes underline */
	color: #856323;
}
a:hover {
	text-decoration: underline;
}

.container {
	width: 100%;
	margin: 0px auto;
}

/* Header */
header {
	width: 100%;
	height: 90px;
	margin: 0px auto;
	padding: 0px;
  background: url(images/img02.jpg) no-repeat left top;
}

#logo {
	float: left;
	width: 328px;
	height: 90px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}
#logo h1 {
	padding: 20px 20px 0px 0px;
	letter-spacing: -3px;
	text-align: center;
	text-transform: lowercase;
	font-size: 40px;
}
#logo h1 span {
	color: #C16C2F;
}
#logo h1 a {
	color: #FFFFFF;
  text-decoration: none;
}

/* Search Box*/
#search {
	padding: 0px 30px 0px 0px;
}
#search form {
	height: 41px;
	margin: 0;
	padding: 8px 0px 0px 30px;
}
#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
#search-text {
	width: 230px;
	padding: 6px 5px 3px 5px;
	border: none;
	background: #D0C9B7;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
}
#search-submit {
	width: 50px;
	height: 22px;
	border: none;
	background: #1D1D1D;
	color: #FFF;
}

/* Header Menu */
#menu {
	height: 100px;
	margin: 0px auto;
	padding: 0;
  overflow: hidden;
}
#menu ul {
  float: left;
	margin: 0;
  padding: 30px 20px 0px 0px;
	list-style: none;
	line-height: normal;
}
#menu li {
	float: left;
}
.extravertpadding {
  padding: 10px 15px 0px 15px; /* padding on the header menu links */
}
#menu a {
	display: block;
	height: 20px;
	margin-right: 1px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}
#menu a:hover{
	text-decoration: underline;
}

/* Page */
#page {
	width: 100%;
	margin: 0px auto;
	padding: 0px 0px 0px 0px; /* can define a bit of vertical gap between header menu and page */
  min-height: 800px;
  overflow: hidden; /* part of trick to allow equal height columns (together with neg margin-bottom and larget padding bottom see sidebar) */
}

/* Sidebar , cart*/
#sidebar, #cart-sidebar {
	width: 317px;
	float: left;
  margin: 0px;
	color: #000000; /* font color */
  background: #D0C9B7;
  margin-bottom: -3000px; /* part of trick to get sidebar to fill entire page see also */
  padding-bottom: 3000px; /* the page overflow hidden setting */
}
#sidebar ul, #cart-sidebar ul  {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar li, #cart-sidebar li {
	margin: 0;
	padding: 0;
}
#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}
#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #A5A08C;
	margin: 0px 0px;
	font-size: 14px;
	font-weight: normal;
}
#sidebar h2 {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	padding-left: 20px;
	text-align: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	color: #2E2E2E;
}
#sidebar a {
	border: none;
	color: #000000;
  padding-left: 20px;
  display: block;
}
#sidebar a:hover {
	text-decoration: none;
  background: #F3EBD9;
}
/* cart sidebar element */
#cart-sidebar table th {
	color: #000000;
  padding: 0px 0px 0px 15px;
  text-align: left;
}
#cart-sidebar table td {
	color: #000000;
  padding: 0px 0px 0px 15px;
  vertical-align: top;
}
#cart-sidebar h2 {
  text-align: center;
}
#cart-sidebar h3 {
	color: #000000;
  padding: 50px 0px 0px 15px;
  font-weight: bold;
  text-align: center;
}
.sb-hl{ /* to highlight selected sidebar element */
  background-color: #F3EBD9;
}
.sb-hl a{
  /*color: #EEEEEE !important;*/
}
.sidebar-button{ /* used in cart sidebar */
  text-align: center;
}
#cart .sidebar-button a{
  border: 1px solid black;
  color: #0000FF !important; /* font color, doesn't work because of jquery-ui button override */
}
a.link-button { /* cart + / - item buttons */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FFFFFF;
  background: #555555;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

/* Content */
#content {
	margin-left: 300px;
	padding: 15px 0px 10px 30px; /* can define a bit of gap between header menu and page */
  max-width: 1000px;
}
#content ul {
	list-style: none;
}
#content h1, h2, h3 {
  padding: 0px 0px 15px 15px; 
}
#content div div ul li { /* specific styling for jquery-ui tabbed list elements */
  margin: 0 5px 5px 5px; 
  padding: 5px; 
  font-size: 1.2em;
}
#content .field {  /* add padding for all entry fields */
  padding-bottom: 10px; 
}  

/* Footer */
#footer {
	width: 100%;
  margin: 0px auto;
	padding: 20px 0px;
	background: #3D3630;
	color: #949085;
  text-align: center;
}
#footer li {
	margin: 0;
	line-height: normal;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
	font-size: 10px;
  list-style-type: none;
}
#footer a {
	color: #949085;
}

/* rails tutorial defs */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
.round-small {
  -moz-border-radius:    4px;
  -webkit-border-radius: 4px;
  border-radius:         4px;
}
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}
.field_with_errors label {
  color: #fff;
}
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* omniauth railcast defs*/
.authentications {
  margin-bottom: 30px;
}
.authentication {
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}
.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}
.authentication .remove:hover {
  color: #FFF;
  background-color: #777;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.authentication img {
  float: left;
}
.authentication .provider, .authentication .uid {
  margin-left: 38px;
  margin-right: 20px;
}
.authentication .provider {
  font-weight: bold;
}
.authentication .uid {
  color: #666;
  font-size: 11px;
}
.auth_provider img {
	/*below code shows the logos below each other (as blocks)*/
  display: block;
}
.auth_provider {
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/* from railcast 240 for store list table */
table.listing {
  border-collapse: collapse;
}
.listing td, .listing th {
  padding: 4px 10px;

}
.listing .price {
  text-align: right;
}
.listing th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.listing th .asc {
  background-image: url('images/up_arrow.gif');
}
.listing th .desc {
  background-image: url('images/down_arrow.gif');
}

/* my own definitions */
.vertical_align { /* used to align the user profile pic logos in middle vs. the text */
  vertical-align: middle;
  margin-bottom: 5px;
}
.buttonvalign { /* for jquery-ui buttons placed next to anchors (did not align vertically properly) */
  vertical-align: top;
}
.ui-button .ui-button-text{ /* for jquery-ui link buttons to manage size of button and font */
   padding: 2px 8px 2px 8px !important;
   font-size: 0.9em !important;
   color: #000000 !important;
}
.smallbutton{ /* for jquery-ui submit buttons to manage size of button and font */
   padding: 2px 8px 2px 8px !important;
   font-size: 1em !important;
   color: #000000 !important;
}
.action{ /* for jquery-ui buttons to manage margin around buttons */
  margin: 10px 0px 10px 0px;
}

/* 2 process 

carrierwave railcast 235 defs
.picture {
  border: solid 1px #CCC;
  padding: 10px 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.picture .genre {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.picture .image_placeholder {
  width: 200px;
  height: 150px;
  background-color: #B6B6B6;
}

.picture .actions {
  font-size: 10px;
  text-align: center;
  color: #777;
}

.post {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px dashed #CACACA;
}

.post .title {
	margin: 0px;
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	letter-spacing: 1px;
	letter-spacing: -1px;
	text-align: left;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: normal;
	color: #C16C2F;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 12px;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .entry {
	padding: 0px 0px 30px 0px;
	padding-bottom: 20px;
	text-align: justify;
}
*/