@import 'colors';
#sidebar { /* Main sidebar*/
	width: 317px;
	float: left;
  margin: 0px;
	color: $sidebar-font-color;
  background: $sidebar-color;
  margin-bottom: -3000px; /* part of trick to get sidebar to fill entire page see also */
  padding-bottom: 3000px; /* the page overflow hidden setting */
	overflow: hidden;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
    ul {
      margin: 0px 0px;
      padding-bottom: 30px;
    }
    li {
      line-height: 35px;
      border-bottom: 1px dashed $sidebar-dash-color;
      margin: 0px 0px;
      font-size: 14px;
      font-weight: normal;
    }
  }
  h2 {
    margin: 0px;
    padding: 0px 0px 0px 20px;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    color: $sidebar-h-color;
  }
  h3 { /*used for profile pic */
    padding: 20px 0px 0px 20px;
    font-weight: bold;
  }
  a {
    border: none;
    color: $sidebar-link-color;
    padding-left: 20px;
    display: block;
    &:hover { /* highlight link segment when hovering above it */
      text-decoration: none;
      background: darken($sidebar-highlight-color, 10%);  
    }
  }
  .sb-hl{ /* to highlight selected sidebar element */
    background-color: $sidebar-highlight-color;
  }
}

#cart-sidebar { /* cart sidebar element */
	width: 317px;
	float: left;
  margin: 0px;
	color: $sidebar-font-color;
  background: $sidebar-color;
  margin-bottom: -3000px; /* part of trick to get sidebar to fill entire page see also */
  padding-bottom: 3000px; /* the page overflow hidden setting */
	overflow: hidden;
  ul  {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
  }
  table th {
	  color: $sidebar-font-color;
    padding: 0px 0px 0px 15px;
    text-align: left;
  }
  table td {
	  color: $sidebar-font-color;
    padding: 0px 0px 0px 15px;
    vertical-align: top;
  }
  h2 {
    text-align: center;
  }
  h3 { /*used for profile pic */
    padding: 20px 0px 0px 20px;
    font-weight: bold;
  }
  .cart-message{
	  color: $sidebar-font-color;
    padding: 30px 0px 0px 20px;
    font-weight: bold;
    text-align: center;
  }
  .action{ /* used in cart sidebar button*/
    text-align: center;
  }
  a {
    text-align: center;
    color: $sidebar-font-color;
    background: $cart-link-color;
    font-weight: bold;
    border: 0px;  
    &:hover{ 
    }
    &:active{
    }
    &.link-button { /* cart + / - item buttons */
      margin-left: auto;
      margin-right: auto;
      text-align: center;
	    color: $cart-button-text-color;
      background: $cart-button-color;
      font-weight: bold;
      padding: 0px 5px 0px 5px;
      text-decoration: none;
    }
  }
}

#list-sidebar {
  float: right;
  background: $list-sidebar-color;
  border: solid 1px $list-sidebar-border-color;
  @include rounded-corners(15px); 
  padding: 5px 10px 5px 10px;  
  
  a{
    padding: 10px 10px 10px 10px; 
    margin: 5px 0px 5px 0px;
    background: darken($list-sidebar-color, 10%);
    @include rounded-corners(10px);   
    color: black;
    font-weight: bold;
    display: block;
    &:hover {
      background:lighten($list-sidebar-color,20%);
      text-decoration: none;
    }
  }
}

#store-list-sidebar {
  float: right;
  background: $list-sidebar-color;
  border: solid 1px $list-sidebar-border-color;
  @include rounded-corners(15px); 
  padding: 5px 10px 5px 10px;  
  
  a{
    padding: 10px 10px 10px 10px; 
    margin: 5px 0px 5px 0px;
    background: $list-sidebar-color;
    @include rounded-corners(10px);   
    color: black;
    font-weight: bold;
    display: block;
    &:hover {
      background:lighten($list-sidebar-color,20%);
      text-decoration: none;
    }
  }
  #select-as-button {
    width: 60px;
    margin: 10px 0px 10px 8px;
    padding: 0px;
    overflow: hidden;
    @include rounded-corners(7px);    
    border: 1px solid $button-border-color;  
    background: $button-color;
    margin-left:auto;
    margin-right:auto;
    
    select{
      padding: 2px 8px 2px 8px;
      border: 0px;
      width: 100px;
      background: $button-color;
      vertical-align: middle;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 100%;
      color: $button-text;
      option{
        background: white;
        font-weight: normal;
      }
      &:hover {
        background: lighten($button-color, 50%);
      }
    }
  }  
}